.form-send-message {
    display: flex;
}

.input-message {
    width: 80%;
    font-size: medium;
}

.box-messages {
    border: 5px blue solid;
    display: flex;
    flex-direction: column;
}

.message {
    width: 50%;
    border: 4px solid;
    border-radius: 10px;
}

.message--client {
    align-self: end;

}

.message--server {
    align-self: start;
}

.btn-send {
    width: 10%;
    padding: .3em;
    font-size: medium;
}

.btn-send--geo {
    color:blue;
}
